.sort {
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  button {
    padding: 10px;
    &:first-of-type {
      margin-right: 10px;
    }
  }

  .label {
    margin-right: 8px;
  }
}
