.commonCard {
  border: 1px solid #181064;
  border-radius: 8px;
  padding: 8px;
}


.commonCardHeader {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: #1E3E62;
  color: white;
}

.commonCardBody {
  margin-top: 8px;
}
