@import '../../assets/styles/colors';

.commonCard {
  border: 1px solid $card-border-blue;
  border-radius: 8px;
  padding: 8px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .commonCardHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: $card-header-blue;
    color: white;
    border: 1px solid $card-header-blue;
    border-radius: 8px;
  }

  .commonCardBody {
    margin-top: 8px;
  }
}
