@import "../../assets/styles/colors";

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px;
  color: $header-text-color;
  background: $header-blue;
  margin-bottom: 32px;
}
