.button {
  border-radius: 8px;
  color: #ff6500;
  background: white;
  padding: 4px;
  font-size: 14px;
  border: 1px solid;
}

.icon {
    display: flex;
    width: 20px;
    height: 20px;
  }

  .wrapper {
    display: flex;
    justify-content: start;
    gap: 8px;
  }